.git
.gitignore
tmp
web/node_modules
web/dist
web/.cache
web/.turbo
api/opsnexus-api-linux-amd64
api/dodevops-api
api/log
api/logs
api/upload
docker/mysql/data
docker/mysql/devops001.sql
docker/mysql/init.sql
docker/mysql/conf.d
docker/redis/data
docker/redis/redis.conf
docker/prometheus/data
docker/prometheus/prometheus.yml
docker/pushgateway/data
docker/alertmanager
docker/api/config.yaml
docker/api/upload
docker/api/ssh_keys
docker/web/devops.conf
**/*.log
