.git
.gitignore
.env
docker/.env
tmp

web/node_modules
web/dist
web/.cache
web/.turbo
web/*.log
web/serve.err
web/serve.out
web/web-dist.tar.gz
web/dist-upload.zip

api/opsnexus-api-linux-amd64
api/dodevops-api
api/log
api/logs
api/upload/*
!api/upload/xlsl/
!api/upload/xlsl/host.xlsx

docker/mysql/data
docker/redis/data
docker/prometheus/data
docker/pushgateway/data
docker/alertmanager/data
docker/api/logs
docker/api/upload
docker/api/ssh_keys/*
!docker/api/ssh_keys/README.md

**/*.log
